.App {
  text-align: center;
}

p, h1, h2, h3, h4{
  font-family: ff-ernestine-pro, serif;
  font-weight: 300;
  font-style: normal;
}

.Analytics{
background-color: rgba(46, 18, 45, 0.96);
  background-size: cover;
  height: 635px;
  display: grid;
  grid-template-rows: 15% 30% 45%
}

.title2{
  color: rgba(46, 18, 45, 0.96);
  font-family: mongoose;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 30px;
}
/*this is for line*/
input[type=range] {
  background: white;
  -webkit-appearance: none;
  width: 70%;
  margin: 5.8px 12px;
  border-radius: 5px;
  height: 3px;
  outline: none;
  margin-bottom: 10px;
}

button{
    outline: none;
}

/* this is for thumb button icon*/
input[type=range]::-webkit-slider-thumb {
  background: rgba(46, 18, 45, 0.96);
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover {
        background: rgb(157, 16, 66);
}

/* this is for the notification icon */
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 25px;
  color: #fff;
  line-height: 20px;
  border-radius: 5px;
  background: rgb(157, 16, 66);
  padding: 3px 0px;
}

.range-slider__value:after {
    position: absolute;
    top: 9.75px;
    left: -6.5px;
    border-top: 7px solid transparent;
    border-right: 7px solid rgb(157, 16, 66);
    border-bottom: 7px solid transparent;
    content: '';
}

.column{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.work{
  display: grid;
  grid-template-columns: 33% 14% 6% 14% 33%
}

img{
  margin-top: 30%;
  width: 100%;
}

img:hover{
  opacity: .75;
}

.al{
  color:white;
}

.comp{
  position: absolute;
bottom: 25%;
left: 44%;
background-color: rgba(46, 18, 45, 0.96);
    color: white;
    border: .75px solid rgba(46, 18, 45, 0.96);
    border-radius: 3px;
    font-family: ff-ernestine-pro, serif;
    font-weight: 300;
    font-size: 9px;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 4px 6px 4px 6px;
}

button:hover{
  background-color: rgb(157, 16, 66);
  border-color: rgb(157, 16, 66);
}

.it:hover, .logout:hover{
  color: rgb(157, 16, 66);
}

.question{
  color: rgba(64, 15, 62, 0.88);
  height: 5px;
  font-family: ff-ernestine-pro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12.5px;
}

.range-slider__value{
  font-family: ff-ernestine-pro, serif;
  font-weight: 300;
  font-style: normal;
}


.rando{
  margin-top: 10%;
margin-left: 20%;
margin-right: 20%;
text-align: center;
font-size: 11px;
line-height: 1.5em;
}


.Homepage{
  background-image: url('https://i.imgur.com/cJfpQTN.png');
  background-repeat: no-repeat;
  background-position: 80% 30%;
  background-size: 35%;
  height: 635px;
  background-color: rgba(46, 18, 45, 0.96);
  position: relative;
  top: -15px;
}

/* body {
  background-image: url('https://png.pngtree.com/back_origin_pic/04/53/51/9a62da105c1f3fb77be23dfc0b8b0f11.jpg');
  background-size: cover;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.lol {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 300px;
}

.intro{
  text-align: left;
  color: rgba(255, 255, 255, 0.61);
  font-size: 10px;
  line-height: 20px
}

.title{
  color: rgb(157, 16, 66);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.one{
  display: grid;
  grid-template-columns: 44.5% auto 44%;
}

.two{
  display: grid;
  grid-template-columns: 34.5% 31% 34.5%;
}

.date{
  margin-left: 20px;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2 {
 text-align: center;
  color: grey;
}
.butts{
  margin-left: 13px;
margin-right: 13px;
      width: 58px;
      height: 58px;
      border: .5px solid rgba(46, 18, 45, 0.46);
      border-radius: 50%;
      color: rgba(46, 18, 45, 0.96);
      text-align: center;
      text-decoration: none;
      font-family: mongoose, sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: #f4f4f4;
        outline: none;
}

.butts:focus {
    background-color: rgb(157, 16, 66);
}

body{
    background-color: #eaeaea;
}

.chart {
  display: grid;
grid-template-columns: 38% 50%;
}

.chart2 {
  display: grid;
grid-template-columns: 25% 50%;
}

.compare {
  display: grid;
grid-template-columns: 50% 50%;
}

.static{
  position: fixed;
  bottom: 24%;
  left: 8%;
  border: solid 1px;
  border-color: rgba(97, 64, 97, 0.17);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  width: 295px;
  background-color: rgba(167, 167, 167, 0.1);
}

.sticky{
  text-align: left;
  color: rgba(46, 18, 45, 0.96);
  font-family: mongoose;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
}

.lo{
  margin-left: 27%;
  margin-top: 15%;
}



.li{
  margin-left: 9%;
}
.Navbar {
  position: relative;
  background-color: rgb(46, 18, 45);
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: ff-ernestine-pro, serif;
  font-weight: 600;
  font-size: 8px;
  font-style: normal;
  letter-spacing: 1.25px;
}

.it{
  margin-left: 10px;
}



a:link {
  text-decoration: none;
}

a{
    color: white;
    margin: 3px;
}

h3{
  color: rgb(85, 85, 85);
  text-align: center;
}

.logout{
  position: absolute;
  right: 3px;
  top: 4px;
}

.topbar{
      margin-left: 7px;
}

.but{
          background-color: rgba(46, 18, 45, 0.96);
              color: white;
              border: .75px solid rgba(46, 18, 45, 0.96);
              border-radius: 3px;
              font-family: ff-ernestine-pro, serif;
              font-weight: 300;
              font-size: 9px;
              font-style: normal;
              letter-spacing: 1px;
              text-transform: uppercase;
              padding: 4px 6px 4px 6px;
}

.butter{
          margin-left: 27%;
          background-color: rgba(46, 18, 45, 0.96);
              color: white;
              border: .75px solid rgba(46, 18, 45, 0.96);
              border-radius: 3px;
              font-family: ff-ernestine-pro, serif;
              font-weight: 300;
              font-size: 9px;
              font-style: normal;
              letter-spacing: 1px;
              text-transform: uppercase;
              padding: 4px 6px 4px 6px;

}

.butter2{
          margin-left: 39.5%;
          margin-right: 39.5%;
          background-color: rgba(46, 18, 45, 0.96);
              color: white;
              border: .75px solid rgba(46, 18, 45, 0.96);
              border-radius: 3px;
              font-family: ff-ernestine-pro, serif;
              font-weight: 300;
              font-size: 9px;
              font-style: normal;
              letter-spacing: 1px;
              text-transform: uppercase;
              padding: 4px 6px 4px 6px;

}

.but1{
          margin-left: 1.75%;
          background-color: rgba(46, 18, 45, 0.96);
              color: white;
              border: .75px solid rgba(46, 18, 45, 0.96);
              border-radius: 3px;
              font-family: ff-ernestine-pro, serif;
              font-weight: 300;
              font-size: 9px;
              font-style: normal;
              letter-spacing: 1px;
              text-transform: uppercase;
              padding: 4px 6px 4px 6px;
}

.out{
  display: grid;
grid-template-columns: 50% 50%;
}

p {
  color: grey;
  font-size: 13px;
  height: 20px;
  text-align: center;
}

/* .twoButtons{
  position: absolute;
  bottom: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.contain{

}

.button1{
  position: absolute;
  top: 141%;
  left: 0;
  background-color: rgba(46, 18, 45, 0.96);
  color: white;
  border: .75px solid white;
  font-family: ff-ernestine-pro, serif;
  font-weight: 300;
  font-size: 9px;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px;
}

.button2{
  position: absolute;
  top: 141%;
  left: 34%;
  background-color: rgba(46, 18, 45, 0.96);
  color: white;
  border: .75px solid white;
  font-family: ff-ernestine-pro, serif;
  font-weight: 300;
  font-size: 9px;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px;
  margin-left: 10px;
}

.submit{
  background-color: rgba(46, 18, 45, 0.96);
      color: white;
      border: .75px solid rgba(46, 18, 45, 0.96);
      border-radius: 3px;
      font-family: ff-ernestine-pro, serif;
      font-weight: 300;
      font-size: 9px;
      font-style: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 4px 6px 4px 6px;
}

.Timesheet{
  display: grid;
  grid-template-rows: 5% 20% 20% auto 20%;

}


form {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px
}
